/*variables*/
.body {
  background-color: #6fa8dc; }

.titulo__h1 {
  color: white;
  background-color: #42a518;
  border: 2px; }

.titulo__h2 {
  color: white;
  background-color: #42a518; }

.cmv th {
  background-color: white; }

.footer {
  background-image: linear-gradient(to bottom, #050468, white, #ac0707); }

.parallax {
  background-image: url("../assets/arg3.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.comprar {
  border: 10px solid black;
  background-color: white; }

.fti {
  background-image: linear-gradient(to bottom, #050468, white, #ac0707); }
  .fti__p {
    color: #6fa8dc; }

.fosn__h1sn {
  color: "white"; }

.fosn__sn {
  background-color: #38761d; }

.mensaje {
  border: 10px solid black;
  background-color: white; }

.mensaje2 {
  border: 10px solid black;
  background-color: white; }

.mensaje3 {
  border: 10px solid black;
  background-color: white; }

.fti__p {
  color: black; }

.fosn {
  background-image: url(../assets/lib.jpg);
  background-repeat: no-repeat; }

.footsn {
  background-image: linear-gradient(to bottom, #050468, white, #ac0707); }

.aes {
  border: 4px solid black;
  background-color: white; }

.footerU {
  background-image: linear-gradient(to bottom, #050468, white, #ac0707); }

.footerC {
  background-image: linear-gradient(to bottom, #050468, white, #ac0707); }

.titulo__h1 {
  font-size: 57px;
  family: "tfTitulo";
  text-align: "center"; }

.titulo__h2 {
  font-size: 42px;
  family: "$tfTitulo"; }

.footer__p {
  size: 22px;
  family: "archivo"; }

.comprar {
  font-size: 32px;
  text-align: center; }

.fti__p {
  size: 24px; }

.fti__segent {
  size: 18px; }

.fosn__h1sn {
  size: 60px;
  family: "kufam"; }

.mensaje {
  text-align: center;
  font-size: 20px; }

.mensaje2 {
  text-align: center;
  font-size: 20px; }

.mensaje3 {
  text-align: center;
  font-size: 20px; }

.aes {
  text-align: center;
  font-size: 28px; }

.titulo__h1 {
  position: relative;
  top: 5px;
  left: 279px;
  text-align: center; }

.titulo__h2 {
  position: relative;
  top: -22px;
  left: 279px;
  text-align: center; }

.carousel-index {
  position: relative;
  left: 140px; }

.cmv th {
  position: relative;
  top: 0px;
  left: 427px;
  text-align: center; }

.footer img {
  position: relative;
  top: 77px; }

.footer__p {
  position: relative;
  top: -19px;
  text-align: center; }

.footer__segen {
  position: absolute;
  top: 944px;
  left: 1628px;
  text-align: center; }

.footer__rrss {
  position: absolute;
  top: 838px;
  left: 1780px; }

.carousel-tienda {
  position: relative;
  top: 50px;
  left: 475px; }

.comprar {
  position: absolute;
  top: 975px;
  right: 611px;
  left: 605px; }

.mensaje {
  position: relative;
  left: -305px; }

.carousel-jugadores {
  position: relative;
  top: -126px;
  left: 857px;
  z-index: 2; }

.mensaje2 {
  position: relative;
  top: -553px;
  left: -305px;
  z-index: 1; }

.mensaje3 {
  position: relative;
  top: -452px;
  left: -305px; }

.fti__lft {
  position: relative;
  top: 77px; }

.fti__p {
  position: relative;
  top: -19px;
  text-align: center; }

.fti__segent {
  position: absolute;
  top: 2617px;
  left: 1628px;
  text-align: center; }

.fti__rrssT {
  position: absolute;
  top: 2591px;
  left: 1780px; }

.lib {
  position: absolute;
  top: 114px;
  left: 1361px; }

.lfbsn {
  position: relative;
  top: -97px;
  left: 847px; }

.ligsn {
  position: relative;
  top: -97px;
  left: 951px; }

.footsn__lfs {
  position: relative;
  top: 77px; }

.footsn__p {
  position: relative;
  top: -19px;
  text-align: center; }

.footsn__segenS {
  position: absolute;
  top: 1066px;
  left: 1628px;
  text-align: center; }

.footsn__rrssS {
  position: absolute;
  top: 1044px;
  left: 1780px; }

.aes {
  position: absolute;
  top: 267px;
  right: 590px;
  left: 990px; }

.fle {
  position: absolute;
  top: 355px;
  left: 920px; }

.footerU__lfu {
  position: relative;
  top: 77px; }

.footerU__p {
  position: relative;
  top: -19px;
  text-align: center; }

.footerU__segenU {
  position: absolute;
  top: 887px;
  left: 1628px;
  text-align: center; }

.footerU__rrssU {
  position: absolute;
  top: 860px;
  left: 1780px; }

.footerC__lfc {
  position: relative;
  top: 77px; }

.footerC__p {
  position: relative;
  top: -19px;
  text-align: center; }

.footerC__segenC {
  position: absolute;
  top: 778px;
  left: 1628px;
  text-align: center; }

.footerC__rrssC {
  position: absolute;
  top: 754px;
  left: 1780px; }

.carousel-tienda {
  width: 50%;
  height: 50%; }

.carousel-jugadores {
  width: 50%;
  height: 50%; }

.lib {
  height: 84%; }
